{{- $host := required "ingress.host is required" .Values.ingress.host -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vk2tg
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  labels:
    app: vk2tg
spec:
  ingressClassName: nginx
  rules:
  - host: {{ $host }}
    http:
      paths:
      - backend:
          service:
            name: vk2tg
            port:
              number: 80
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - {{ $host }}
    secretName: vk2tg-tls
